set.seed(%%SEED%%)
######################### All events, Severity 1, Model 1a_independent #####################
print("######################### All events, Severity 1, Model 1a_independent #####################")
raw = bhpm.npm(hier = 3, "SUMMARY_BY_CLUSTER.dat", level = %%LEVEL%%)
conv = bhpm.convergence.diag(raw)
sink("convergence_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
bhpm.print.convergence.summary(conv)
sink()
rm(conv)
gc()
summ = bhpm.summary.stats(raw)
sink("summarys_stats_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
bhpm.print.summary.stats(summ)
sink()


print("Writing the summary stats....")
write.table(summ$theta.summary, "theta_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
write.table(summ$gamma.summary, "gamma_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
print("Removing objects...")
rm(summ)
gc()
ptheta = bhpm.ptheta(raw)
print("Removing objects...")
rm(raw)
gc()
print("Writing the ptheta probabilities....")
write.table(ptheta, "ptheta_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
ptheta95 = ptheta[ptheta$ptheta > 0.95,]
write.table(ptheta95, "ptheta95_by_cluster_1a_hier3_lev%%LEVEL%%.dat")
print("Removing objects...")
#rm(conv)
rm(ptheta)
rm(ptheta95)
gc()
print("Finished.")

warnings()
